/* Reduce space below slide titles */
.reveal h1,
.reveal h2,
.reveal h3 {
  margin-bottom: 0.3em;
}

/* Others */

p.petit {
  font-size: 0.9rem;
}

.callout.callout-style-default .callout-body {
  background-color: white;
}

/* Tables */

.tabtop-left {
  vertical-align: top;
  text-align: left;
  font-size: 25px;
}

.tabbottom-left {
  vertical-align: bottom;
  text-align: left;
  font-size: 25px;
}

lp {
  font-family: Helvetica;
}

/* R markdown tutorial */

.div-code {
  background-color: #EBEBEB;
}

.div-text {
  background-color: #add8e6;
}

.div-yaml {
  background-color: #FFCCCB;
}

.r-yaml {
  background-color: #FFCCCB;
  color: black;
  padding: 2px; /* Adjust the padding value as needed */
  border-radius: 10px; /* Adjust the border radius for roundness of corners */
}

.r-code {
  background-color: #EBEBEB;
  color: black;
  padding: 2px; /* Adjust the padding value as needed */
  border-radius: 10px; /* Adjust the border radius for roundness of corners */
}

.r-text {
  /* narrative part */
  background-color: #add8e6;
  color: black;
  padding: 2px; /* Adjust the padding value as needed */
  border-radius: 10px; /* Adjust the border radius for roundness of corners */
}

.col-title {
  /* for Quarto columns titles */
  text-align: center;
  font-size: smaller;
}

notes {
  color: white;
  background-color: dodgerblue;
}

/* Fonts */

.r-md {
  /* for the text: "R Markdown" */
  background-color: #2a75dd87;
  color: black;
  padding: 2px; /* Adjust the padding value as needed */
  border-radius: 10px; /* Adjust the border radius for roundness of corners */
}

/* Quarto natives */

.quarto-title-author-name {
  font-size: 30px;
  /* color: blue !important; */
}

/* not working */
.quarto-title-author-affiliation {
  font-size: 10px;
  color: grey !important;
}

.quarto-title-authors-affiliations {
  font-size: 10px;
  color: grey !important;
}

.quarto-title-authors-affiliation {
  font-size: 10px;
  color: grey !important;
}

.quarto-title-author-affiliations {
  font-size: 10px;
  color: grey !important;
}

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tablebordernones {
  border-spacing:0 
}

.border {
  border: 1px solid #dee2e6;
}

.border-thick {
  border-width: 3px;
}

.column {
  float: left;
  width: 50%;
  vertical-align: middle;
  align-items: center;
}

.column33 {
  float: left;
  width: 33%;
  vertical-align: middle;
  align-items: center;
}

.column50 {
  float: left;
  width: 50%;
  vertical-align: middle;
  align-items: center;
}

.column66 {
  float: left;
  width: 66%;
  vertical-align: middle;
  align-items: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.table, table, th, td {
  border: 1px solid;
  vertical-align: middle;
  text-align: center;
}

.captiontext {
  text-align: center;
  /* font-style: italic; */
  font-size: 20px;
  color: #808080;
}

/* text for file paths, folder structure, etc. */
.fhstext {
  font-family: "Consolas", monaco, monospace;
  text-align: center;
  font-size: 25px;
  color: #808080;
}

.worldwide {
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: #FFBB7D;
  font-weight: 700;
  font-size: 50px;
}

.greytext {
  color: #808080;
}

.smalltext {
  font-size: 25px;
}

.midtext {
  font-size: 35px;
}

.largetext {
  font-size: 45px;
}

.tabsetheadertext {
  font-size: 30px;
}

.dataTables_wrapper {
  font-size: 18px; /* Change the font size as needed */
}

.div-code {
  background-color: #EBEBEB;
}

.div-text {
  background-color: #add8e6;
}

.div-yaml {
  background-color: #FFCCCB;
}

notes {
  color: white;
  background-color: dodgerblue;
}

/* IDE */
.it-ide{
  color: #e31a1c;
}

/* layouts */
.it-layouts{
  color: #fd8d3c;
}

/* libraries and packges */
.it-libraries{
  color: #fecc5c;
}

/* outside links */
.it-resources{
  color: #ffffb2;
}

/* Generic, to reduce the margins/padding */

h1, h2, h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.panel-title {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
}
table {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
}
p {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
}

/* Test */

.reveal table {
  padding: 0px; 
}

.reveal p {
  padding: 0px; 
}