<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv/cv_english.pdf">CV</a></li>
	        		<li><a href="https://docs.google.com/viewer?url=${https://github.com/zoometh/thomashuet.github.io/blob/main/cv/cv_english.pdf}">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:thomashuet7@gmail.com">email</a></li>
	        		<li><a href="https://github.com/thomashuet">github.com/thomashuet</a></li>
				</ul>
			</footer>
		</body>
	</html>
